<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2019-07-19T17:31:07Z</date>
	<key>WorkspacePath</key>
	<string>/Users/gerard/Documents/Programs/fem/FEBio/mygit/FEBio3/Xcode/FEBio3.xcworkspace</string>
</dict>
</plist>
