name: CI - Linux - On Push
on:
  push:
    branches:
      - 'ci/develop'
  workflow_dispatch:
    inputs:
      runTests:
        description: "Run tests?"
        required: false
        default: false
permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout
jobs:
  call_workflow:
    uses: febiosoftware/febio-workflows/.github/workflows/linux-reusable-push.yml@develop
    with:
      runTests: ${{ inputs.runTests == 'true' || contains('
          refs/heads/develop
        ', github.ref_name) }}
      package-name: febio4
      package-sdk: true
      aws-ami-id: ami-0590ebdb5afffb782
    secrets: inherit
