name: CI - Linux Pull Request
on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize
      - closed
permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout
jobs:
  call_workflow:
    uses: tundranerd/febio-workflows/.github/workflows/linux-reusable-pull-request.yml@develop
    with:
      runTests: true
      package-name: febio4
      package-sdk: true
      aws-ami-id: ami-0590ebdb5afffb782
    secrets: inherit
